<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <script src="https://use.typekit.net/ihi4nfw.js"></script>
    <script>
      try { Typekit.load({ async: true }); } catch (e) { }
    </script>
		<title>Pip Pip, Cheerio!</title>
    
	</head>
	<body>
    <div class="container text-center">
        <h1 class="title">Pitchfork Review Music Scrape!</h1>
        <p>The Hippest Music Scrape Around!</p>
    </div>
		{{{ body }}}
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="/assets/js/script.js"></script>
	</body>

</html>
