<div class="row">
  <div class="col s1">
        <span class="sideways hide-on-med-and-down">The Hippest Music Scrape Around!</span>

  </div>
    <div class="col s10">
      <div class="row">
{{#each reviewList}}
        <div class="col s6 m3">
        <a href="/review/{{this._id}}">
          <div class="card">
            <div class="card-image">
              <img src="{{this.artwork}}">
              <span class="card-title"><h5>{{this.artist}}</h5>{{this.album}}</span>
            </div>
          </div>
          </a>
        </div>
{{/each}}
    </div>
    </div>
      <div class="col s1">
      </div>

</div>
