<div class="container">
<div class="row">
{{#each reviewList}}
        <div class="col s6 m3">
        <a href="/{{this._id}}">
          <div class="card">
            <div class="card-image">
              <img src="{{this.artwork}}">
              <span class="card-title"><h5>{{this.artist}}</h5>{{this.album}}</span>
            </div>
            {{!--<div class="card-action">
            View Review
            </div>--}}

          </div>
          </a>
        </div>
{{/each}}
</div>
</div>